div {
    
}

ul {
    list-style-type: none;
}

main {
    width: 290px;
    margin-top: 30px;

}

.skill-list {
    display: flex;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    width: 250px;
    margin: 0;
}

input[type=button] {
    background-color: rgba(17, 1, 165, 0);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

form {
    width: 250px;
    flex-wrap: wrap;
    justify-content: center;
}
.menu {
    height: 100px;
    border: solid 2px #424542;
    box-shadow: 1px 1px #e7dfe7,
                -1px -1px #e7dfe7,
                1px -1px #e7dfe7,
                -1px 1px #e7dfe7,
                0 -2px #9c9a9c,
                -2px 0 #7b757b,
                0 2px #424542;
    
    background: #04009d;
    background: -moz-linear-gradient(top,  #04009d 0%, #06004d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04009d), color-stop(100%,#06004d));
    background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );
    
  
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.container-row {
    display: flex;
    flex-direction: row;
}

.container-perso {
    height: 230px;
    align-items: flex-end;
    justify-content: space-around;
    background-image: url("assets/sprites/LafBWtl.gif");
    background-repeat: no-repeat;
}

.perso1 {
    height: 86px;
    width: 100px;
    background-image: url("assets/sprites/unit_idle_207000105.png");
    animation : walkRight 1s steps(3) infinite;
}

@keyframes walkRight {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -300px;
    }
}


.perso2 {
    display: block;
    height: 86px;
    width: 150px;
    background-image: url("assets/sprites/unit_idle_207001005.png");
    animation : idle 1s steps(3) infinite;
}



@keyframes idle {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -432px;
    }
}

.barpv1 {
    background-color: #b630a077;
    border: #f3f3f3 1px solid;
    border-radius: 10px;
    height: 25px;
    width: 150px;
    position: absolute;
    top: 30px;
    left: 15px;
}

.barpv2 {

    background-color: #b630a077;
    border: #f3f3f3 1px solid;
    border-radius: 10px;
    height: 25px;
    width: 150px;
    position: absolute;
    top: 30px;
    overflow: hidden;
    left: 80%;
}