#intro {
    width: 100vw;
    height: 100vh;
    background-image: url("assets/images/startmenu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 600;
    display: flex;
    top: 0;
    left: 0;
}

.start-menu {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('assets/images/startmenu.jpg');
    justify-content: center;
    z-index: 200;
    border-radius: 30px;
}

.background {
    height: 100wh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('assets/images/wallhaven-95529.jpg');
    z-index: -100;
    justify-content: center;
    border-radius: 30px;
}

ul {
    list-style-type: none;
}

section {
    width: 100%;
    margin-top: 25vh;
    justify-content: center;
    align-items: center;
}

h3 {
    color: white;
    margin: 0;
}
main {
    width: 75%;
    margin-top: 30px;

}

.skill-list {
    display: flex;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 350px;
    margin: 0;
}

.item-list {
    display: flex;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 350px;
    margin: 0;
}

#log {
    margin-top: 10px;
    overflow: hidden;
    color: white;
    height: 97px;
    width: 500px;
}

input[type=button] {
    background-color: rgba(17, 1, 165, 0);
    border: none;
    color: white;
    padding: 16px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

form {
    width: 30%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.menu {
    border: solid 2px #424542;
    box-shadow: 1px 1px #e7dfe7,
                -1px -1px #e7dfe7,
                1px -1px #e7dfe7,
                -1px 1px #e7dfe7,
                0 -2px #9c9a9c,
                -2px 0 #7b757b,
                0 2px #424542;
    
    background: #04009d;
    background: -moz-linear-gradient(top,  #04009d 0%, #06004d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04009d), color-stop(100%,#06004d));
    background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );
    
  
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.container-row {
    display: flex;
    flex-direction: row;
}

.container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-game {
    width: 80%;
    height: 230px;
    align-items: center;
    justify-content: space-between;

    background-image: url("assets/sprites/LafBWtl.gif");
    background-repeat: round;
    align-items: center;
    background-size: cover;
}
.container-perso {
    justify-content: space-around;
    width: 80%;
    align-items: flex-end;
}
.container-barres {
    width: 80%;
    justify-content: space-between;
    margin-top: 5px;
    height: 85px;

}

.perso1 {
    height: 86px;
    width: 100px;
    background-image: url("assets/sprites/unit_idle_207000105.png");
    animation : idle1 1s steps(3) infinite;

    
}

@keyframes idle1 {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -300px;
    }
}

.perso1buff {
    height: 106px;
    width: 94px;
    background-image: url("assets/sprites/unit_idle_207000105aura.png");
    animation : buff1 0.5s infinite steps(3) ;


}

@keyframes buff1 {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -258px;
    }
}

.perso1atk1 {
    height: 110px;
    width: 160px;
    overflow: hidden;
    background-image: url("assets/sprites/unit_atk_207000105.png");
    animation : atk-x 1s 4 steps(3),
    atk-y 2.5s 1 steps(4);
}

@keyframes atk-x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -500px;
    }
}
@keyframes atk-y {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: -489px;
    }
}

.perso1atk2 {
    height: 110px;
    width: 160px;
    overflow: hidden;
    background-image: url("assets/sprites/unit_atk_207000106kai.png");
    animation : skill1-x 1s 4 steps(3),
    skill1-y 2.5s 1 steps(4);
}

@keyframes skill1-x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -500px;
    }
}
@keyframes skill1-y {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: -489px;
    }
}

.perso1atk3 {
    height: 180px;
    width: 375px;
    overflow: hidden;
    background-image: url("assets/sprites/unit_limit_atk1_207000105.png");
    animation : skill22-x 2s 18 steps(3),
    skill22-y 2s 1 steps(18);
}

@keyframes skill22-x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -954px;
    }
}
@keyframes skill22-y {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: -4752px;
    }
}

.perso1Atk4 {
    height: 256px;
    width: 270px;
    overflow: hidden;
    background-image: url("assets/sprites/unit_limit_atk2_207000105.png");
    animation : skill33-x 4s 60 steps(3),
    skill33-y 4s 2 steps(30);

}

@keyframes skill33-x {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -972px;
    }
}
@keyframes skill33-y {
    from {
        background-position-y: 0px;
    }
    to {
        background-position-y: -9450px;
    }
}


.perso1block {
    height: 70px;
    width: 55px;
    background-image: url('assets/sprites/unit_magic_def_207000105shi2.png');
    animation : def-x 3s 1 steps(3);
    

}
@keyframes def-x {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -152px;
    }

}

.perso1mag1 {
    height: 70px;
    width: 55px;
    background-image: url('assets/sprites/unit_magic_atk_207000105.png');
    animation : magick1-x 3s 1 steps(3);
    

}
@keyframes magick1-x {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -192px;
    }

}


.perso2block {
    height: 70px;
    width: 130px;
    background-image: url('assets/sprites/unit_magic_def_207001005shi2.png');
    animation : def-x 3s 1 steps(3);
    

}
@keyframes def-x {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -375px;
    }

}

.perso1item {
    height: 70px;
    width: 55px;
    background-image: url('assets/sprites/unit_magic_item_207000105.png');
    animation : item1-x 3s 1 steps(3);
    

}

.perso1item2 {
    height: 70px;
    width: 55px;
    background-image: url('assets/sprites/unit_magic_mana_207000105.png');
    animation : item1-x 3s 1 steps(3);
    

}
@keyframes item1-x {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -179px;
    }

}

.perso2item {
    height: 70px;
    width: 129px;
    background-image: url('assets/sprites/unit_magic_item_207001005.png');
    animation : item2-x 3s 1 steps(3);
    

}

.perso2item2 {
    height: 70px;
    width: 129px;
    background-image: url('assets/sprites/unit_magic_mana_207001005.png');
    animation : item2-x 3s 1 steps(3);
    

}

@keyframes item2-x {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -375px;
    }

}

.perso1dead {
    height: 38px;
    width: 120px;
    background-image: url('assets/sprites/unit_dead_207000105.png');
    /* animation: dead1-x 4s 1 steps(3); */

}

/* @keyframes dead1-x {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -258px;
    }

} */

.perso1win {
    height: 110px;
    width: 116px;
    background-image: url('assets/sprites/unit_win_before_207000105.png');
    animation: win1-x 3s 9 steps(3),
    win1-y 3s 1 steps(9);


}

@keyframes win1-x {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -354px;
    }

}

@keyframes win1-y {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: -999px;
    }
}

.perso2win {
    height: 130px;
    width: 195px;
    background-image: url('assets/sprites/unit_win_before_207001005.png');
    animation: win2-x 3s 8 steps(3),
    win2-y 3s 1 steps(8);


}

@keyframes win2-x {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -600px;
    }

}

@keyframes win2-y {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: -1160px;
    }
}

.perso2dead {
    height: 42px;
    width: 86px;
    background-image: url('assets/sprites/unit_dead_207001005.png');
    /* animation: dead2-x 4s 1 steps(3); */

}

/* @keyframes dead2-x {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -372px;
    }

} */



.perso2 {
    display: block;
    height: 86px;
    width: 150px;
    background-image: url("assets/sprites/unit_idle_207001005.png");
    animation : idle2 1s steps(3) infinite;
}

@keyframes idle2 {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -432px;
    }
}

.perso2buff {
    display: block;
    height: 106px;
    width: 150px;
    background-image: url("assets/sprites/unit_idle_207001005aura.png");
    animation : buff2 0.5s steps(3) infinite;

}

@keyframes buff2 {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -372px;
    }
}

.cloudfire {
    display: block;
    height: 86px;
    width: 150px;
    background-image: url("assets/sprites/unit_idle_207001005fire.png");
    animation : idle2 4s 2 steps(3);
}

@keyframes idle2 {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -432px;
    }
}
.perso2atk1 {
    height: 138px;
    width: 230px;
    background-image: url("assets/sprites/unit_atk_207001005mirror.png");
    overflow: hidden;
    animation : atk2-x 0.3s 9 steps(3),
    atk2-y 2.5s 1 steps(9);
}

@keyframes atk2-x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -771px;
    }
}
@keyframes atk2-y {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: -1431px;
    }
}

.perso2atk2 {
    height: 138px;
    width: 230px;
    background-image: url("assets/sprites/unit_atk_207001006mirror.png");
    overflow: hidden;
    animation : skill2-x 0.3s 9 steps(3),
    skill2-y 2.5s 1 steps(9);
}

@keyframes skill2-x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -771px;
    }
}
@keyframes skill2-y {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: -1431px;
    }
}

.perso2atk3 {
    height: 138px;
    width: 230px;
    background-image: url("assets/sprites/unit_atk_207001006mirror.png");
    overflow: hidden;
    animation : skill2-x 0.3s 9 steps(3),
    skill2-y 2.5s 1 steps(9);
}


@keyframes skill2-x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -771px;
    }
}
@keyframes skill2-y {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: -1431px;
    }
}





@keyframes idle2 {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -432px;
    }
}

.perso2atk4 {
    height: 186px;
    width: 532px;
    background-image: url("assets/sprites/unit_limit_atk_207001005mirror.png");
    overflow: hidden;
    animation : skill2-4-x 0.3s 15 steps(3),
    skill2-4-y 2.5s 1 steps(15);
}

.perso2limit1 {
    height: 186px;
    width: 532px;
    background-image: url("assets/sprites/unit_limit_atk_207001005mirroraura.png");
    overflow: hidden;
    animation : skill2-4-x 0.3s 15 steps(3),
    skill2-4-y 2.5s 1 steps(15);
}

@keyframes skill2-4-x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -3030px;
    }
}
@keyframes skill2-4-y {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: -2850px;
    }
}


.perso1invo1 {
    height: 78px;
    width: 100px;
    background-image: url('assets/sprites/unit_magic_207000105bahamut.png');
    animation : invo-x 3s 1 steps(3);
    

}
@keyframes invo-x {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -291px;
    }

}

.perso2invo1 {
    height: 78px;
    width: 125px;
    background-image: url('assets/sprites/unit_magic_atk_207001005malb.png');
    animation : invo2-x 3s 1 steps(3);
    

}
@keyframes invo2-x {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -375px;
    }

}


.barcontainer1 {
    height: 15px;
    width: 200px;
    background-color: #0e000b2c;
    border: #f3f3f3 1px solid;
    border-radius: 10px;
}

#barpv1 {
    background-color: #b630a077;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

#barcp1 {
    background-color: #3eff2477;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-width: 100%
}

#barcp2 {
    background-color: #3eff2477;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-width: 100%
}

#barpv1text {
    color: #e7dfe7;
    margin: 0;
}
#barpv2text {
    color: #e7dfe7;
    margin: 0;
}
#barcp1text {
    color: #e7dfe7;
    margin: 0;
}
#barcp2text {
    color: #e7dfe7;
    margin: 0;
}

.barcontainer2 {
    height: 15px;
    width: 200px;
    overflow: hidden;
    background-color: #0e000b2c;
    border: #f3f3f3 1px solid;
    border-radius: 10px;
}

.barcontainer3 {
    margin-top: 17px;
    height: 15px;
    width: 200px;
    overflow: hidden;
    background-color: #0e000b2c;
    border: #f3f3f3 1px solid;
    border-radius: 10px;
}

#barpv2 {
    background-color: #b630a077;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-width: 100%
   
}


#gameover {
    width: 100%;
    height: 100%;
    background-image: url("assets/images/game over.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    display: none;
    transition: ease-in 5s;
}

#limitbreak {
    color: red;
    display: none;
}