div {
    
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('assets/images/wallhaven-95529.jpg');
    z-index: -100;
}

ul {
    list-style-type: none;
}

section {
    margin-top: 25vh;
    justify-content: center;
    align-items: center;
}
main {
    max-width: 70%;
    margin-top: 30px;

}

#gameover {
    position: inherit;
    display: none;
}
.skill-list {
    display: flex;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    width: 250px;
    margin: 0;
}

input[type=button] {
    background-color: rgba(17, 1, 165, 0);
    border: none;
    color: white;
    padding: 16px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

form {
    width: 30%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.menu {
    border: solid 2px #424542;
    box-shadow: 1px 1px #e7dfe7,
                -1px -1px #e7dfe7,
                1px -1px #e7dfe7,
                -1px 1px #e7dfe7,
                0 -2px #9c9a9c,
                -2px 0 #7b757b,
                0 2px #424542;
    
    background: #04009d;
    background: -moz-linear-gradient(top,  #04009d 0%, #06004d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04009d), color-stop(100%,#06004d));
    background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );
    
  
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.container-row {
    display: flex;
    flex-direction: row;
}

.container-column {
    display: flex;
    flex-direction: column;
}

.container-game {
    width: 80%;
    height: 230px;
    align-items: center;
    justify-content: space-between;

    background-image: url("assets/sprites/LafBWtl.gif");
    background-repeat: round;
    align-items: center;
}
.container-perso {
    justify-content: space-around;
    width: 80%;
    align-items: flex-end;
}
.container-barres {
    width: 80%;
    justify-content: space-between;
    margin-top: 10px;
}

.perso1 {
    height: 86px;
    width: 100px;
    background-image: url("assets/sprites/unit_idle_207000105.png");
    animation : idle1 1s steps(3) infinite;

    
}

@keyframes idle1 {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -300px;
    }
}

.perso1atk {
    height: 110px;
    width: 160px;
    overflow: hidden;
    background-image: url("assets/sprites/unit_atk_207000105.png");
    animation : atk-x 1s 4 steps(3),
    atk-y 2.5s 1 steps(4);
}

@keyframes atk-x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -500px;
    }
}
@keyframes atk-y {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: -489px;
    }
}

.perso1def {
    height: 70px;
    width: 55px;
    background-image: url('assets/sprites/unit_magic_def_207000105shi2.png');
    animation : def-x 3s 1 steps(3);
    

}
@keyframes def-x {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -152px;
    }

}
.perso2def {
    height: 70px;
    width: 130px;
    background-image: url('assets/sprites/unit_magic_def_207001005shi2.png');
    animation : def-x 3s 1 steps(3);
    

}
@keyframes def-x {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -375px;
    }

}

.perso1dead {
    height: 40px;
    width: 125px;
    background-image: url('assets/sprites/unit_dead_207000105.png');
    transition: 0.1s;

}

.perso2dead {
    height: 40px;
    width: 80px;
    background-image: url('assets/sprites/unit_dead_207001005.png');
    transition: 0.1s;

}


.perso2 {
    display: block;
    height: 86px;
    width: 150px;
    background-image: url("assets/sprites/unit_idle_207001005.png");
    animation : idle2 1s steps(3) infinite;
}

.perso2atk {
    height: 120px;
    width: 230px;
    background-image: url("assets/sprites/unit_atk_207001005mirror.png");
    overflow: hidden;
    animation : atk2-x 0.3s 9 steps(3),
    atk2-y 2.5s 1 steps(9);
}

@keyframes atk2-x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -771px;
    }
}
@keyframes atk2-y {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: -1431px;
    }
}



@keyframes idle2 {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -432px;
    }
}

.barcontainer1 {
    height: 15px;
    width: 200px;
    background-color: #0e000b2c;
    border: #f3f3f3 1px solid;
    border-radius: 10px;
}

#barpv1 {
    background-color: #b630a077;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

#barcp1 {
    background-color: #3eff2477;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

#barcp2 {
    background-color: #3eff2477;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

#barpv1text {
    color: #e7dfe7;
    margin: 0 0 0 50px;
}
#barpv2text {
    position: absolute;
    color: #e7dfe7;
    margin: 0 0 0 60px;
}
#barcp1text {
    color: #e7dfe7;
    margin: 0 0 0 60px;
}
#barcp2text {
    position: absolute;
    color: #e7dfe7;
    margin: 0 0 0 50px;
}

.barcontainer2 {
    height: 15px;
    width: 200px;
    overflow: hidden;
    background-color: #0e000b2c;
    border: #f3f3f3 1px solid;
    border-radius: 10px;
}

.barcontainer3 {
    position: absolute;
    margin-top: 17px;
    height: 15px;
    width: 200px;
    overflow: hidden;
    background-color: #0e000b2c;
    border: #f3f3f3 1px solid;
    border-radius: 10px;
}

#barpv2 {
    background-color: #b630a077;
    border-radius: 10px;
    width: 100%;
    height: 100%;
   
}
